[Unit]
Description=Cloudstack User Metadata proxy server
After=network.target syslog.service

[Service]
EnvironmentFile=-/etc/default/mdproxy4cs
ExecStartPre=/usr/share/mdproxy4cs/pre-start.sh
ExecStart=/usr/bin/mdproxy4cs
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=mdproxy4cs.service
